
/* Background */
.bg-1{
  background-color: #f9f9f9;
}

/* main */
*{
  box-sizing: border-box
}

body, html{
  height: 100%;
  direction: rtl;
  text-align: right !important;
}

.main{
  height: 100%;
  background-color: #f9f9f9;
}

/* Navbar */
.navbar-nav .nav-item{
  margin: 3px 0;
}
.navbar-nav .nav-item.active .nav-link{
  color: #ffffff;
  background-color: #007bff; /* add background-color to active links */
  border-radius: 5px;
  padding-left: 8px;
}
.mynavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Sidebar */
.mysidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mysidebar .cartButton{
  color: #343a40!important;
}



/* product Info */
#productInfoImg{
  width: 35%;
}
#productInfoImg .productImg{
  width: 90%;
}
#productInformation{
  width: 65%;
  border-right: 1px solid #f2f2f2;
}


/* Mainbar */
.mainbar{
  min-height: 100vh;
}
.marginLeft25per{
  margin-left: 25%;
}
.marginRight25per{
  margin-right: 25%;
}
.fixed-top {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.fixed-left {
position: fixed;
top: 0;
bottom: 0;
left: 0;
}
.fixed-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.mySlideUp{
  transition:height 0.5s ease-out;
  overflow:hidden;
}



/* On screens that are less than 768px wide */
@media screen and (max-width: 768px) {
  .mainbar{
      margin-right: 0;
      margin-top: 48px;;
  }
}

@media print {
  td button,
  .td_0,
  .th_0, 
  .mysidebar {
    display: none !important;
  }
  .mainbar{
    margin-right: 0;
    margin-top: 48px;

    max-width: 100% !important;
    flex: 1 1 100%;
  }
  .tableFilterHeader{
    display: none !important;
  }
  .factorColumnDelete{
    display: none !important;
  }
  .printFactor{
    display: none !important;
  }
  table {
    width: 100% !important;
  }
  
}